<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current sql inject test</div>

  <table class="table">
      <thead>
        <tr>
          <th>Scheme</th>
          <th>Method</th>
          <th>Host</th>
          <th>Path</th>
          <th>Level</th>
          <th>DBMS</th>
          <th>Result</th>
         </tr>
      </thead>
               {{#each data}}

        <tbody>
            <tr>
                <td>{{Scheme}}</td>
                <td>{{Method}}</td>
                <td>{{Host}}</td>
                <td style="word-break: break-word;width:500px;word-wrap: break-word;">{{Path}}</td>
                <td>{{Level}}</td>
                <td>{{Dbms}}</td>
                <td style="word-break: break-word;width:500px;word-wrap: break-word;">{{Result}}</td>

            </tr>
        </tbody>
        {{/each}}
  </table>  <!-- Table -->

</div>